<launch>
  <group ns='robot_0'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>

  <group ns='robot_1'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_2'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen" />
  </group>
 
  <group ns='robot_3'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_4'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_5'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  
  <group ns='robot_6'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_7'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_8'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_9'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_10'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_11'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_12'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_13'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_14'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_15'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  
  <group ns='robot_16'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_17'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_18'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_19'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>

  <group ns='robot_20'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>

  <group ns='robot_21'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_22'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
 
  <group ns='robot_23'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_24'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_25'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  
  <group ns='robot_26'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_27'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_28'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_29'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_30'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_31'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen" />
  </group>
  <group ns='robot_32'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_33'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_34'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_35'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  
  <group ns='robot_36'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_37'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_38'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_39'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_40'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>

  <group ns='robot_41'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_42'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
 
  <group ns='robot_43'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_44'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_45'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen" />
  </group>
  
  <group ns='robot_46'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_47'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_48'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
  <group ns='robot_49'>
  <node name="ms" pkg="micros_flocking" type="alpha" output="screen"/>
  </group>
</launch>
